<a href="https://colab.research.google.com/github/posheadig/CVML/blob/master/Copy_of_SpaceJunk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Compute TLE Trajectories

In [6]:
# Install dependencies.
!pip install skyfield pandas

Requirement already satisfied: skyfield in /usr/local/lib/python3.6/dist-packages (1.18)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from skyfield) (1.18.2)
Requirement already satisfied: jplephem>=2.11 in /usr/local/lib/python3.6/dist-packages (from skyfield) (2.14)
Requirement already satisfied: sgp4>=2.2 in /usr/local/lib/python3.6/dist-packages (from skyfield) (2.6)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
from skyfield.api import Topos, load, utc
import json
import numpy as np
import pandas as pd 
import datetime

In [34]:
# Here we load a bunch of satellites.
stations_url = 'http://celestrak.com/NORAD/elements/stations.txt'
satellites = load.tle_file(stations_url)
print('Loaded', len(satellites), 'satellites')

Loaded 69 satellites

In [49]:
# Here we iterate through the satellites to take a look ..
for s in satellites[:1]:
  print(s.name)

ISS (ZARYA)

In [43]:
# Generate a bunch of times in the future to calculate positions at.

# Function reference is here
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

# Generate one week's worth of times, hourly.
# times = pd.date_range('2020-10-01', periods=7*24, freq='1H')

# Generate one days's worth of times, every 10 minutes for 24 hours.
times = pd.date_range('2020-10-01', periods=1*6*24, freq='10min')
times

DatetimeIndex(['2020-10-01 00:00:00', '2020-10-01 00:10:00',
               '2020-10-01 00:20:00', '2020-10-01 00:30:00',
               '2020-10-01 00:40:00', '2020-10-01 00:50:00',
               '2020-10-01 01:00:00', '2020-10-01 01:10:00',
               '2020-10-01 01:20:00', '2020-10-01 01:30:00',
               ...
               '2020-10-01 22:20:00', '2020-10-01 22:30:00',
               '2020-10-01 22:40:00', '2020-10-01 22:50:00',
               '2020-10-01 23:00:00', '2020-10-01 23:10:00',
               '2020-10-01 23:20:00', '2020-10-01 23:30:00',
               '2020-10-01 23:40:00', '2020-10-01 23:50:00'],
              dtype='datetime64[ns]', length=144, freq='10T')

In [0]:
# Iterate all satellites for all times ...
# https://rhodesmill.org/skyfield/earth-satellites.html

ts = load.timescale()

entries = []

# Iterates all satellites in the TLE that was loaded.
for satellite in satellites[:1]:
  entry = { }
  entry['name'] = satellite.name
  xyzts = []
  for time in times:
    # Convert my timestamp to skyfield data type.
    t = ts.utc(pd.to_datetime(time, utc=True))

    # Ask for position data at the given time.
    geocentric = satellite.at(t)

    # Place data into a data structure.
    xyzt = {}
    xyzt['x'] = geocentric.position.km[0] # Get x
    xyzt['y'] = geocentric.position.km[1] # Get y
    xyzt['z'] = geocentric.position.km[2] # Get z
    xyzt['t'] = t.utc_datetime().timestamp() # Convert the time to epoch milliseconds
    xyzts.append(xyzt)
  entry['xyzts'] = xyzts
  entries.append(entry)

In [0]:
# This data.json file will be over to the left in the folder ... button thing.
with open('data.json', 'w') as outfile:
    json.dump(entries, outfile)